:root {
    --primary-background-color: rgb(51, 51, 51);
    --secondary-background-color: rgb(78, 78, 78);
}
body {
    background-color: var(--primary-background-color) !important;
}
#search-form {
    margin: 0px auto 0px auto;
    max-width: 600px;
    position: fixed;
    width: 100%;
    top:0;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: var(--secondary-background-color);
    box-shadow: 1px 1px 10px 7px;
    margin: 0;
    padding: 8px;
    z-index: 100;
}
#search-form>div {
    flex-direction: row;
    display: flex;
}
body>.container {
    padding-top: 70px;
    padding-bottom: 20px;
}
/* MOVIE */
.movie .card {
    width: 200px;
    height: 300px;
    background-repeat: round;
    background-size: cover;
    border: 3px solid grey;
    transition: transform .2s;
    cursor: pointer;
}
.movie .card:hover {

    transform: scale(1.1);
}

/* MOVIE-FULL */
.moviefull-background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    /*display: none;*/
}
.moviefull-window {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: var(--secondary-background-color);
    width: 100%;
    height: auto;
    max-width: 80%;
    border-radius: 10px;
    /*max-height: ;*/
}
.moviefull {
    position: relative;
    padding: 0.75rem;
    margin: 0;
    max-width: 100%;
}
.moviefull .close {
    position: absolute;
    top:-10px;
    right: -10px;
    border-radius: 50%;
}
.moviefull>.row:first-child>.col {
    padding-left: 0;
}
.moviefull>.row:first-child>.col>h5{
    border-bottom: 1px solid grey;
    padding-bottom: 4px
}
.moviefull img {
    border-radius: 10px;
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.movie-full .card img {
    /*height: 100%;*/
    width: 200px;
    object-fit: contain;
    background-color: black;
    border-radius: 0.25rem;
}
.movie-full .card {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-background-color);
    flex-direction: row;
    color: white;

    height: 300px;
    border: 4px solid var(--secondary-background-color) !important;
}
.movie-full .card .description {
    font-size: 12px;
    height: 164px;
    overflow: hidden;
}
.movie-full .card:not(:last-child) {
    margin-bottom: 10px;
}
.movie-full .card-body {
    padding: 0.5rem 1rem;
    overflow: hidden;
    word-wrap: break-word;
}
.movie-full .card label {
    font-size: 12px;
    font-style: italic;
}
.movie-full .card .description, .movie-full .card hr {
    margin: 0.5rem 0;
}
.movie-full .card .rating {
    position: absolute;
    top: 0px;
    -webkit-text-stroke: 1px black; 
    font-size: 24px;
    z-index: 95;
    left: 150px;
    color: yellow;
    text-align: right;
    width: 40px;
    font-weight: 700;
    padding: 0px 2px;
}
.movie-full .card h5, .movie-full .card h6 {
    padding-left: 5px;
}
@keyframes zoominout {
    0% {
        transform: scale(0.1,0.1);
    }
    50% {
        transform: scale(1.02,1.02);
    }
    100% {
        transform: scale(1,1);
    }
}
@keyframes zoomon {
    0% {
        transform: scale(1,1);
    }
    100% {
        transform: scale(1.1,1.1);
    }
}
.card-ani {
    animation: zoominout 1s;
}
@media (max-width: 1000px) {
    .moviefull-window {
        max-width: 95%;
        transform: translate(-50%,-40%);
    }
}
@media (max-width: 768px) {
    .moviefull-window {
        width: 330px;
        height: 80%;
    }
    .moviefull img {
        width: 100%;
        height: 100%;
    }
    .moviefull>.row:first-child>.col {
        padding: 12px;
    }
}